body {
    background: #0D1221 url("../img/new_year_background.png") repeat;
    padding: 0;
}

.table {
    margin-bottom: 0;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    border: 0;
}

.container-fluid {
    max-width: 1600px;
}

.top-buffer {
    margin-top: 10px;
}

.anti-buffer {
    margin-top: -20px;
}

#logo {
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 5px;
}

#logo img {
    height: 60px;
}

#slogan {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.logo {
    max-width: 610px;
    vertical-align: middle;
    margin: 0 auto;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
}

.chat {
    min-height: 350px;
    margin-top: 15px;
}

.menu {
    font-weight: 600;
    /*max-width: 855px;*/
    margin: 10px auto 0 auto;
}

.menu i {
    display: none;
}

.breadcrumb {
    background-color: #EFEFF1;
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 1px #c8c8c8;
    margin: 0 10px 10px 10px;
    padding: 5px 10px;
}

.btn-resize-left, .btn-resize-right {
    display: inline-block;
    width: 50%;
    float: left;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus, a:hover {
    color: #5f5f5f;
    text-decoration: none;
    text-shadow: 0 0 10px #fff;
}

.logo a:focus, .logo a:hover {
    color: inherit;
}

#scrollUp, #scrollDown {
    display: none;
    position: fixed;
    z-index: 1000;
    font-size: 40px;
    opacity: .5;
}

#scrollUp {
    bottom: 10px;
    right: 20px;
}

#scrollDown {
    bottom: 10px;
    left: 20px;
}

#scrollUp:focus, #scrollUp:hover,
#scrollDown:focus, #scrollDown:hover {
    cursor: pointer;
    opacity: .2;
}

.footer {
    background-color: #EFEFF1;
    border-top: 1px solid #ffffff;
    box-shadow: 0 -1px 0 0 #c8c8c8;
    padding-bottom: 0;
    padding-top: 5px;
    margin-bottom: 0;
}

.footer img {
    display: inline-block;
}

.footer h6 {
    margin: 0;
    font-weight: 600;
}

#vk_comments .reply_text {
    max-width: 100%;
}

.btn-resize {
    font-size: 42px;
    color: #233056;
}

.btn-resize i:hover {
    cursor: pointer;
    color: #356fa7;
}

.vk_comments {
    display: flex;
    margin-top: 10px;
}

.bg-pattern {
    background: url(../img/texture_2.png) top left repeat-y;
    background-size: 100% auto;
    background-origin: content-box;
}

.snow-left {
    transform: scaleX(-1);
    filter: FlipH;
}

.snow, .ornament {
    margin: 0;
}

.snow label, .ornament label {
    font-weight: 600;
    color: #3390cd;
}

.ornament {
    padding-bottom: 5px;
}

#canvas {
    position: fixed;
    z-index: 999;
    pointer-events: none;
}

.counter-block {
    overflow: hidden;
}

.bg-left {
    padding-right: 0;
}

.bg-right {
    padding-left: 0;
}

.bg-none {
    background-image: none;
}

@media (min-width: 480px) {
    #logo {
        font-size: 64px;
    }
    #slogan {
        font-size: 26px;
    }
    #logo img {
        height: 70px;
    }
}

@media (min-width: 768px) {
    .logo {
        margin: 0 auto;
        background: url(../img/logo-left.svg) no-repeat left bottom,
        url(../img/logo-right.svg) no-repeat right bottom;
        background-size: 50px;
        padding-left: 70px;
        padding-right: 70px;
    }
    .header {
        margin-top: 10px;
    }
    .menu i {
        display: inline-block;
    }
    .left {
        padding-right: 5px;
    }
    .right {
        padding-left: 5px;
    }
    .chat {
        padding-bottom: 80%;
        margin-top: 0;
    }
    .comments {
        background: url(../img/lights-left.gif) repeat-y left top,
        url(../img/lights-right.gif) repeat-y right top;
        background-size: 30px;
        padding-left: 37px;
        padding-right: 37px;
    }
    #scrollUp {
        bottom: 20px;
        right: 30px;
        font-size: 60px;
    }
    #scrollDown {
        bottom: 20px;
        left: 30px;
        font-size: 60px;
    }
    .btn-resize {
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .vk_comments {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .chat {
        padding-bottom: 115.25%;
    }
    .counter-block {
        height: 150px;
    }
}

@media (min-width: 1120px) {
    .chat {
        padding-bottom: 115.25%;
    }
}
