body {
    background: url("paper.png") repeat;
}

.container-fluid {
    max-width: 1920px;
}

.top-buffer {
    margin-top: 10px;
}

#logo {
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

#logo {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 5px;
}

#slogan {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.logo, .pattern-left, .pattern-right {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    margin: 0 10px;
}

.pattern-left {
    padding-top: 10px;
}

.pattern-right {
    padding-bottom: 10px;
}

.pattern-left img, .pattern-right img {
    height: 110px;
}

.pattern-right {
    transform: rotate(180deg);
}

.chat {
    min-height: 250px;
    margin-top: 15px;
}

@media (min-width: 480px) {
    #logo {
        font-size: 64px;
    }
    #slogan {
        font-size: 26px;
    }
}

@media (min-width: 768px) {
    .left {
        padding-right: 5px;
    }
    .right {
        padding-left: 5px;
    }
    .chat {
        padding-bottom: 80%;
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .chat {
        padding-bottom: 115.25%;
    }
}